# Default ignored files
.*
!.gitignore
!.gitattributes
!.zenodo.json
node_modules
out
temp
archive.zip
credentials.*
keyfile.*
access.*
config.*

/code/plotters/demo
/code/internal/jobs/elements/*/data/*

/data/*
!/data/README.md

/docs/*.pdf
/docs/*.jsonlr
